body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #e8e8e8;
    background-color: #282828
}
table {
    width: 400px;
    border: 2px solid gray;
}
th {
    text-align: left;
    background-color: #1c1c1c;
    padding: 0.5em;
}
td {
    padding: 0.5em;
}
label {
    display: none;
}
a {
    color: #f17b31;
}
a:visited {
    color: #f17b31;
}