<html>

<head>
    <link rel="stylesheet" href="/podstatic/css/default.css" />
</head>

<body>
    <div id="status">
        <p>Your pod is not ready to be used and must be serviced.</p>
    </div>
    {{ template "tables.html" . }}
    <div id="links">
        <p>Note: This page does not autorefresh.</p>
        <ul>
            <li>To check the current status of your pod, please click <a href="/podapi/info">here</a></li>
            <li>If your pod is in state <emph>DELETED</emph> and you want to boot it, please click <a
                    href="/podapi/spawn">here</a></li>
            <li>Otherwise, if you want to kill it, please click <a href="/podapi/kill">here</a></li>
        </ul>
    </div>
</body>

</html>