<html>

<head>
    <link rel="stylesheet" href="/podstatic/css/template.css" />
</head>

<body>
    <div id="frame">
        <div id="status">
            <p>Your order to spawn your pod has been processed.</p>
            <p>It might take a few minutes for your pod to boot up.</p>
        </div>
        {{ template "tables.html" . }}
        <div id="links">
            <p>Note: This page does not autorefresh.</p>
            <ul>
                <li>To check the current status of your pod, please click <a href="/podapi/info">here</a></li>
            </ul>
        </div>
    </div>
</body>

</html>